<div>
  <div class="overlay-popup slideInRight slideInRightanimated"><a class="close"></a>
    <ul>
      <div>
        <h3></h3>
        <div class="breakup-overlay">
          <div class="row">
            <div class="col-sm-2 col-xs-4 pad-left breakup-logo"><img src="images/13.png?v=1" alt="images/13.png?v=1">
            </div>
            <div class="col-sm-10 col-xs-12">
              <div class="manufact-detail">
                <p>
                  <!-- react-text: 5502 -->AP11
                  <!-- /react-text -->
                  <!-- react-text: 5503 -->
                  <!-- /react-text -->
                </p>
                <ul>
                  <li>
                    <!-- react-text: 5506 -->TATA SAFARI DICOR 2.2 VTT EX 4X4 7 SEATER
                    <!-- /react-text -->
                    <!-- react-text: 5507 --> (
                    <!-- /react-text -->
                    <!-- react-text: 5508 -->2179
                    <!-- /react-text -->
                    <!-- react-text: 5509 --> cc )
                    <!-- /react-text -->
                  </li>
                  <li>Diesel</li>
                  <li>
                    <!-- react-text: 5512 -->2018
                    <!-- /react-text -->
                    <!-- react-text: 5513 --> Model
                    <!-- /react-text -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="premium-breakup show">
          <h4><span>-</span><!-- react-text: 5517 -->Premium Breakup
            <!-- /react-text -->
          </h4>
          <div>
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <h5>Base Cover</h5>
                <ul>
                  <li class="show"><span>Basic Own Damage Premium</span><!-- react-text: 5525 -->
                    <!-- /react-text --><b>25,978</b></li>
                  <li class="show"><span>Third Party Cover Premium</span><!-- react-text: 5529 -->
                    <!-- /react-text --><b>7,890</b></li>
                  <li class="hide"><span>Owner Driver Cover</span><!-- react-text: 5533 -->
                    <!-- /react-text --><b>0</b></li>
                  <li class="hide"><span>PA cover for Unnamed Passengers</span><b>0</b></li>
                  <li class="hide"><span>Personal Accident Cover</span><b>0</b></li>
                  <li class="hide"><span>Paid Driver Cover</span><b>0</b></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <h5>Discounts</h5>
                <ul>
                  <li><span>
                      <!-- react-text: 5550 -->No-Claim Bonus
                      <!-- /react-text -->
                      <!-- react-text: 5551 -->(20%)
                      <!-- /react-text --></span><!-- react-text: 5552 -->
                    <!-- /react-text --><b>
                      <!-- react-text: 5554 -->-
                      <!-- /react-text -->
                      <!-- react-text: 5555 -->5,196
                      <!-- /react-text --></b></li>
                  <li class="hide"><span>Voluntary Deductible Discount</span><!-- react-text: 5558 -->
                    <!-- /react-text --><b>
                      <!-- react-text: 5560 -->-
                      <!-- /react-text -->
                      <!-- react-text: 5561 -->0
                      <!-- /react-text --></b></li>
                  <li class="show"><span>Other Discounts</span><!-- react-text: 5564 -->
                    <!-- /react-text --><b>
                      <!-- react-text: 5566 -->-
                      <!-- /react-text -->
                      <!-- react-text: 5567 -->9,768
                      <!-- /react-text --></b></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-xs-12 show">
                <h5>Addons &amp; Accessories</h5>
                <ul>
                  <li><span>Roadside Assistance</span><b>Included</b></li>
                  <li><span>Key &amp; Lock Replacement</span><b>105</b></li>
                  <li class="hide"><span>Electrical Accessories Cover</span><b>0</b></li>
                  <li class="hide"><span>Non Electrical Accessories Cover</span><b>0</b></li>
                  <li class="hide"><span>Bi Fuel Kit Premium</span><b>0</b></li>
                  <li class="hide"><span>Bi Fuel Liability Premium</span><b>0</b></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <h5>Premium Details</h5>
                <ul>
                  <li class="PackagePremium"><span>Package Premium</span><!-- react-text: 5596 -->
                    <!-- /react-text --><b>
                      <!-- react-text: 5598 -->
                      <!-- /react-text -->
                      <!-- react-text: 5599 -->19,010
                      <!-- /react-text -->
                      <!-- react-text: 5600 -->
                      <!-- /react-text --></b></li>
                  <li class="GSTPremium"><span>GST@18%</span><!-- react-text: 5603 -->
                    <!-- /react-text --><b>
                      <!-- react-text: 5605 -->
                      <!-- /react-text -->
                      <!-- react-text: 5606 -->3,422
                      <!-- /react-text -->
                      <!-- react-text: 5607 -->
                      <!-- /react-text --></b></li>
                  <li class="FinalPremium"><span>Final Premium</span><!-- react-text: 5610 -->
                    <!-- /react-text --><b>
                      <!-- react-text: 5612 -->
                      <!-- /react-text -->
                      <!-- react-text: 5613 -->22,432
                      <!-- /react-text -->
                      <!-- react-text: 5614 -->
                      <!-- /react-text --></b></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay3 hide"></div><!-- react-empty: 5616 -->
        <div>
          <div class="breakup-pdf"><img src="../images/pdf-download.jpg" alt="pdf" width="24" height="23"><a
              href="https://car.policybazaar.com/Car-Brochures/AC/BajajAllianz.pdf" target="_blank">Download policy
              wording</a></div>
        </div>
      </div>
    </ul>
  </div>
</div>