<div class="mt-4 pt-4">
  <div class="overlay-popup slideInRight slideInRightanimated"><a class="close"></a>
    <ul>
      <div>
        <h3></h3>
        <!-- <div class="breakup-overlay">
          <div class="row">
            <div class="col-sm-2 col-xs-4 pad-left breakup-logo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq0yhyf2KrqU-az4u1z1BmklsVi4b3rcLlH9O7aPhB3NCgTPKP&s" alt="images/13.png?v=1">
            </div>
            <div class="col-sm-10 col-xs-12">
              <div class="manufact-detail">
                <p>
                </p>
                <ul>
                  <li>
                  
                  </li>
                  <li>Diesel</li>
                  <li>
                    
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        <div class="premium-breakup show">
          <h4><span>-</span><!-- react-text: 5517 -->Insurance Details & Premium
            <!-- /react-text -->
          </h4>
          <div>
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <h5>{{detailData.title}}</h5>
                <ul>
                  <li class="show">
                    <p dis [innerHtml]='detailData.description'></p><!-- react-text: 5525 -->

                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <h5>Anount & Details</h5>
                <ul>
                  <li><span>Amout Cover (*per year)</span><b>-{{detailData.cover_amount}}</b></li>
                  <li><span>Medical History
                      considered</span><b>-{{(detailData.medical_history=='true' )? "Yes" :"No"}}</b></li>
                  <li><span>Allowed for Disbaled</span><b>-{{ (detailData.disabled_person == 'true' )? "Yes" :"No"}}</b>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4 mt-4">
          <button (click)='openModal()' class="btn btn-primary btn-block" data-toggle="exampleModal">Get
            Insurance</button>
        </div>
      </div>
    </ul>
  </div>
</div>

<!-- user details modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Person Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="profileForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name</label>
            <input formControlName='recipient_name' type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Age</label>
            <input type="number" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" formControlName='recipient_age' class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Adhar Card no</label>
            <input formControlName='recipient_adhar_no' type="number" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Contact no</label>
            <input formControlName='recipient_contact' type="number" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="inputEmail">Medical History</label>
            <div>
              <select formControlName="recipient_medical_history" class="form-control" name="gender">
                <option selected="selected" value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail">Medically Disabled</label>
            <div>
              <select formControlName="recipient_disabled" class="form-control" name="gender">
                <option selected="selected" value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!profileForm.valid" (click)='getrecipientDeatils()'>Confirm Checkout</button>
      </div>
    </div>
  </div>
</div>