<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Create Insurance</div>
    <div class="card-body">
      <form [formGroup]="profileForm">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6 mt-4">
              <div class="form-label-group">
                <label for="firstName">Title</label>
                <input type="text" formControlName="title" id="firstName" class="form-control" placeholder="First name" required="required"
                  autofocus="autofocus">

              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="form-label-group">
                <label for="lastName">Description</label>
                <textarea formControlName="description" rows="4" cols="50" name="comment" form="usrform" class="form-control" required="required">
                  Enter text here...</textarea>
                <!-- <input  formControlName="description" type="text" id="lastName" class="form-control" placeholder="Last name" required="required"> -->

              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-label-group">
            <label for="inputEmail">Email address</label>
            <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">

          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6 mt-4">
              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
                  required="required">

              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="form-label-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password"
                  required="required">
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6 mt-4">
              <div class="form-label-group">
                <label for="inputEmail">DOB</label>
            <input formControlName="dateOfBirth" type="date" id="confirmPassword" class="form-control" placeholder="Confirm password"
            required="required">
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="form-label-group">
                <label for="inputEmail">Gender</label>
                <!-- class="form-group"  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required"> -->
                <div >
                  <select formControlName="gender" class="form-control" name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-block" [disabled]="!profileForm.valid" (click)='createInsurance()'>Create</button>
      </form>
      <div class="text-center">
        <!-- <a class="d-block small mt-3" [routerLink]="['/login']">Login Page</a> -->
        <!-- <a class="d-block small mt-3" [routerLink]="['/register']">Register an Account</a> -->
      </div>
    </div>
  </div>
</div>